/* Created 2020-07-07 by Metty Schroeder */

* {
	box-sizing: border-box;
}

body {
	color: #FEFFE3;
	background-color: #F9F0F9;
}

body>header {
	background-color: #F0F0F0;
}

.temp {
	background-color: #FFE2E2;
	margin-top: 100px;
}