/* Created 2020-07-07 by Metty Schroeder */

* {
	box-sizing: border-box;
}

body {
	color: #FEFFE3;
	background-color: #F0F0F0;
}


#w1 {
	width: 800px;
	padding: 50px;
	background-color: #282923;
  overflow: hidden;
}

#title {
	width: 200px;
	float: left;
	margin: 50px 50px;
}

.name {
	align-self: center;
}

.headshot {
	border-radius:50%;
}


#contact {
  float: left;
	align-content: space-around;
	margin: 300px 50px;
  overflow: hidden;
}

.btn {
	color: #282923;
	background-color: #FEFFE3;
	padding: 10px 10px;
  margin: 10px;
}






.temp {
	background-color: #FFE2E2;
	margin-top: 100px;
}




/*

COLORS:
#F0F0F0 - light purple grey
#FFE2E2 - full pink
#F9F0F9 - misty pink
#FEFFE3 - pale yellow

#282923 - dark grey
#6d6e6a - medium grey
*/