/* Created 2020-07-07 by Metty Schroeder */

* {
	margin: 0;
	padding: 0;
	/*list-style-type: none;*/
	line-height: 1.5;
	
	font-family: "Gothic A1", "-apple-system", BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
	font-weight: normal;
	font-size: 1em;

	color: #FEFFE3;

	box-sizing: border-box;
}

section {
	padding: 20px;
}

/* - 640px is standard for 'mobile-first' - */
/* - auto magin keeps equal margins on sides to 'center' body of text in responsive manner - */
section .wrapper {
	max-width: 640px;
	margin: auto;
}
main section .wrapper {
	margin-bottom: 50px;
}

header {
	background-color: #555652;
}
main {
	background-color: #6d6e6a;
}
footer {
	background-color: #6d6e6a;
}
ul li::before {
  content: "- ";
}
ol {
	list-style-type: decimal;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.25em;
}
p {
	margin: 1px;
}

/* ---- LOGO-LIST ---- */
.logo-list {
	margin: 5px;
	font-size: 2em;
}
.logo-list li, ol{
	display: flex;
	text-align: center;
	align-items: center;
	margin: auto;
}


/* ---- BTN ---- */
.btn-list {
	display: inline-grid;
}
.btn {
	
	color: #282923;
	background-color: #FEFFE3;
	padding: 5px 10px;
  	margin: auto;
}

/* ---- INTRO ---- */
#intro .wrapper {
	display: flex;
	align-items: center;
}
#intro figure {
	text-align: center;
}
#intro figure img {
	border-radius: 50%;
}
#intro div {
	text-align:center;
	margin: auto;
}

/* ---- INFO ---- */
#info .wrapper article {
	display: flex;

}
#info .wrapper article div {
	flex-grow: 1;
	width: 50%;
	margin: 5px;
}

/* ---- ABOUT ---- */
#about .wrapper h2{
	text-align: center;
}
#about .wrapper article {
	align-content: center;
}
#about article div {
	text-align: center;
}
#about .wrapper h3{
	text-align: center;
}


/* ---- COLORS ---- */
#color-catalogue .wrapper ol, li{
	display: flex;
	text-align: center;
	align-items: center;
	margin: auto;
}
#color-catalogue .box {
	width: 20px;
	height: 20px;

	border: white 1px solid;
}
#color-catalogue .c1 {
	background-color: white;
}

#color-catalogue .c2 {
	background-color: #FEFFE3;
}

#color-catalogue .c3 {
	background-color: #F9E3FF;
}

#color-catalogue .c4 {
	background-color: #6d6e6a;
}

#color-catalogue .c5 {
	background-color: #555652;
}



a.link:link {
	color: #F9E3FF;
}

a.link:visited {
	color: #F9F0F9;
}

a.link:hover {
	color: #F0F0F0;
}

a.link:active {
	color: #6d6e6a;
}


@media screen and (max-width: 640px) {
#intro .wrapper {display: block; text-align: center;}
#info .wrapper article {display: block;}

}














/*
COLORS:
#F9E3FF - light purple
#F0F0F0 - light purple grey
#FFE2E2 - full pink
#F9F0F9 - misty pink
#FEFFE3 - pale yellow

#282923 - dark grey
#6d6e6a - medium grey
*/
